/* Contains name, titles, and contact info */

.about {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 3%;
    font-family: 'Inter';
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 5%;
}

.about-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 400px;
    font-size: larger;
    justify-content: center;
    margin-bottom: 20px;
}

.about-header > * {
    margin-right: 20px;
}

.about-header > img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

/* .about > p {

} */
