/* Contains buttons that direct to other pages */

.buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.hover-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: 'Peace Sans';
}

.button-link:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

.hover-text:has(.button-link:hover) > h4 {
    display:
}

.downscaled {
    transform: scale(0.8);
}
