/* Contains buttons that direct to other pages */

.buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.hover-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-family: 'Inter';
}

.button-link {
    margin-left: 10px;
    margin-right: 10px;
    height: 80px;
    width: 80px;
    background-color: rgb(83, 83, 99);
    border-radius: 10px;
    transition: transform 0.1s ease;
}

.button-link:hover {
    transform: scale(1.1);
}

.hover-text > h4 {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.hover-text:has(.button-link:hover) > h4 {
    opacity: 100;
}

.downscaled {
    transform: scale(0.8);
}
