body {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 35, 40);
}

@font-face {
    font-family: 'Peace Sans';
    src: url('/fonts/PeaceSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('truetype');
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}
h6 {
    font-size: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 0;
}
